
@{
}
<form asp-action="AddStudent" asp-controller="Student" method="post">
   
    <input type="text" name="name" placeholder="Enter Student Name"><br>
    
    <input type="text" name="phonenumber" placeholder="Enter Student Number"><br>

    <input type="submit" value="Submit">
</form>